* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: black;
  background-color: #181f2a;
  height: 100%;
}

nav {
  color: white;
  height: fit-content;
}

nav,
.info,
.infoContainer,
.navBtns,
.App,
.homepageContainer,
.row,
.description,
.testimonials,
.testimonialBlock {
  display: flex;
}

.navBtns {
  align-items: center;
  width: 20%;
  justify-content: space-around;
}

.homepageContainer {
  height: 100%;
  flex-direction: column;
  padding: 15px;
}

p,
h1,
h2 {
  color: white;
}

.info,
.infoContainer,
.row,
.description {
  justify-content: center;
}

.infoContainer {
  margin-top: 5%;
  width: fit-content;
  flex-wrap: wrap;
}

.info {
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.row {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.description {
  height: 100%;
  align-items: center;
  gap: 5%;
  margin-top: 5%;
  flex-wrap: wrap;
}

.infoContainer,
.description,
.homepageContainer,
.App,
#logo,
nav {
  width: 100%;
}

.description2 {
  text-align: start;
}

.testimonialBlock {
  background-color: #202a3c;
  width: 400px;
  height: 200px;
  text-align: start;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  flex-direction: column;
  padding: 30px;
}

.testimonials {
  width: 100%;
  justify-content: center;
  gap: 5%;
  margin-top: 5%;
}

.profile {
  margin-top: 10px;
  height: fit-content;
  display: flex;
}

.profile img {
  border-radius: 100%;
  margin-right: 10px;
}